*,
*::before,
*::after{
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    max-width: 1200px;
    margin: auto
}

main {
    display: grid;
    height: 100%;
    width: 50%;
}

h1{
    margin-bottom: 20px;
}

.emojis{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 20px;
    width: 150%;
}

.emoji {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
}
  
.emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
    order: 2;
}
  
.emoji a {
    display: flex;
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    order: 4;
}
  
.icon {
    display: flex;
    font-size: 4rem;
    order: 1;
    justify-content: center;
    align-items: center;
}

.emoji p{
    order: 3;
}